@charset "utf-8";

/*去掉默认标签样式*/
.clear, .c_b { clear: both;}
.mask iframe, .mask { height: 100%;width: 100%;}
.proxy-layoutPosition, .proxy-rectselector {overflow: hidden; position: absolute;z-index: 99999;}
table { border-collapse: collapse;  border-spacing: 0;}
a {color:#233c92;outline: medium none;text-decoration: none;}
h5, h6, h4 {font-size: 100%;}
h3 {font-size: 14px;}
h2 {font-size: 16px;}
h1 { font-size: 18px;}
footer, nav, article, section, header { display: block;}
img { border: medium none; vertical-align: top;}
ol, ul { list-style: none outside none;}
*{font-family:Microsoft Yahei!important,Arial,Verdana,arial,serif;margin: 0px;padding: 0px;}
html,body {background: none repeat scroll 0 0 #FFFFFF;max-height:100%; height:100%; overflow:hidden;}
button, input, select, textarea, body { font: 12px/1.5;}
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, blockquote, pre, form, input, textarea, fieldset, table, th, td, header, footer, nav, article, section, html{  margin: 0; padding: 0;}
html, body {
	 color: black;
    height: 100%;
   color: black;
    width: 100%;
     overflow: hidden;
    text-align: left;
}
:focus {outline: 0 none;}
.hide{ display: none;}
.red{color: red;}


/* 覆盖默认bootstrap 样式  */
a:focus{outline: 0 none}




/*
 * 左侧导航样式
 *	
*/
.menu-icon{background:url("../img/friend.png") no-repeat scroll 0 0 transparent;}
.left-menu{height:32px;line-height:32px;}
#leftmenu a.header{height:25px;line-height:25px;vertical-align: middle;font-size: 14px; white-space: nowrap;}
#leftmenu a.header img{ height: 20px;line-height:20px; width: 20px; padding:2px; margin-top: -12px;}
#leftmenu a.header .title{background-color: transparent;
    display: inline-block;
    font-weight: bold;
    overflow: hidden;
    padding-left: 5px;
    white-space: nowrap;
   
    width: 85px;}
#leftmenu a.header i{ padding:2px;vertical-align:baseline;}

.menu-helper {
  position: fixed;
  top: 60px;
  left: 150px;
  z-index: 1010;
  display: none;
  text-align: left;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px 1px 1px 0px solid #ccc;
  border: 1px 1px 1px 0px  solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius:0px 6px 6px 0px;
  -moz-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
  height:auto;
}


.menu-nav{
	margin:0 auto;
    display: table;
    clear:both;
    width:100%;
}


.menu-nav>li{
	line-height:15px;
    overflow:hidden;
	border-top: 1px solid #CCCCCC;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.menu-nav>li>a{
	line-height:15px;
	border: 0px 0px 1px 0px solid #DDDDDD;
    padding: 8px 12px;
    display: block;
    word-spacing: normal;
    font-size: 12px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.menu-nav>li>a:hover,.menu-nav>li>a.ui-state-active{
	background-color: #0064CD;
    background-image: -moz-linear-gradient(center top , #049CDB, #0064CD);
    background-repeat: repeat-x;
    color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

	




/*底部版本信息样式*/
#footer{text-align:center;height:20px; width:100%;line-height:20px;bottom:0; position:absolute;font-size:10px;  background-color: #0088CC;}




.ui-tabs-nav .ui-icon-close{ font-size: 20px;
    position: absolute;
  right: 0px;
  top: 50%;
  width: 19px;
  margin: -10px 0 0 0;
  height: 18px;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=25);
  -khtml-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  
    }
 .ui-tabs-nav .ui-icon-close:hover{ -khtml-opacity: 0.90;
  -moz-opacity: 0.90;
  opacity: 0.90; 
  cursor:pointer;
  }
    







table th + th,
  table td + td,
  table th + td,
 table td + th { border-left:1px solid #ddd;}
  table thead:first-child tr:first-child th,
  table tbody:first-child tr:first-child th,
  table tbody:first-child tr:first-child td { border-top:0; }
 .jp-invisible { visibility: hidden !important; }
    .jp-hidden { display: none !important; }
    .pagination a {
	font-size: 12px;
	cursor: pointer;
	color: #333;
}

.pagination{ margin:0px;text-align: center; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#d2e7fc');background: -webkit-gradient(linear, 0 0, 0 80%, from(white), to(#d2e7fc)); background: -moz-linear-gradient(top,white,#d2e7fc);}
.pagination a:hover {
	background-color: #222;
	 color: #FF4242;
}
.pagination a.jp-current, a.jp-current:hover { 
	color: #FF4242;
	font-weight: bold;
}
.pagination a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}
.pagination a.jp-current, a.jp-current:hover,
.pagination a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	background: none;
}
.pagination>ul{
	vertical-align: middle;
	 margin: 0px 4px;
}
.pagination>.ui-spinner{
	height:23px;
	
}
.pagination>.go{
	vertical-align: middle;
	height:23px;
}
.pagination>.go>.input-mini{height:23px;;padding:0px;vertical-align: middle;width:22px;}

.pagination>.go>.add-on{height:23px;;padding:0px;vertical-align: middle;}
/* .pagination  .input-mini{ width: 20px;}
  .pagination .spinner{position: relative;padding: 0.5px; height: 27px; cursor:pointer;}
  .pagination .spinner > .btn + .btn {
    margin-left: 0;
    margin-top: -1px;
}
  .pagination .spinner .perPage{float: none; width: 100%;height:12.5px; left: 0px; display:block;}
  .pagination>.input-append{margin-bottom: 0px;}  */
  .datagrid-body table{width:auto;}

  .toolButton{text-align:justify;float:left;}
  .toolButton .btn{padding-top: 8px;}
.form-search{ display:inline-block;height:auto;clear:both;}
.datagrid-search p{padding:3px 5px; }
.datagrid-search{    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #CCCCCC;
    padding: 1px 2px;
    text-align:justify;
  }
  
  
  
  
/* 页面内模块内容布局盒子*/

   
     编辑框区域,默认表单编辑样式
 */
.pageForm {
    height:100%;
    position:relative;
    padding:4px;

}
.form-area{
	 padding:20px 3px 3px;
	 background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    left:1px;
    width:99%;
    position: relative;
}


.form-area:after{
	background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: attr(title);
    font-size: 14px;
    font-weight: bold;
    left: -1px;
    padding: 1px;
    position: absolute;
    top: -1px;
}
.form--area-hide:after{
	color: #9DA0A4;
}
.form--area-hide{
	height:0px;
	overflow: height;
}
.page-content{overflow-y:auto; }
.form-area>ul{
	position: absolute;
}
.form-area>ul>li {
    display: block;
    height: 24px;
    margin: 0;
    padding: 6px 0px;;
    width: 290px;
}
 
.form-area>ul>li>label {
    float: left;
    line-height: 24px;
    padding: 0px;
    width: 80px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   
}

.pageForm .pageFormContent .showLable{
	 border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 4px;
    height: 18px;
    position: absolute;
    overflow:hidden;
}


.pageForm .pageFormContent input:text {
    float: left;
}
/*
 * 垂直编辑样式
*/
.pageForm-vertical{  display: block;
    overflow: auto;
    height:100%;
    position:relative;}

.pageForm-vertical .pageFormContent>ul>li{
	display: block;
    float: left;
    height: 42px;
    margin: 0;
    padding: 10px 0;
    position: relative;
    width: 220px;
}
    
 .pageForm-vertical .pageFormContent>ul>li>label {
    float: left;
    line-height: 21px;
    padding: 0 5px;
    width: 205px;
    word-break: keep-all;
   overflow:hidden;
}   
    
    
    
.formBar {
    clear: both;
    height: 40px;
    position: absolute;
    background: -moz-linear-gradient(center top , white, #D2E7FC) repeat scroll 0 0 transparent;
    bottom: 0px;
    float: left;
    position: absolute;
    width: 100%;
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    line-height: 40px;
   vertical-align: middle; 
   text-align: center;
}
.formBar>ul {
    display:inline-block;
}
.formBar li {
    float: left;
    margin-left: 5px;
    
}




/*
	tab 标签样式
*/
.list-browser-filterbar {
    -moz-box-sizing: border-box;
    background-color: #CACACA;
    background-image: linear-gradient(#EFEFEF, #CACACA);
    background-repeat: repeat-x;
    border-bottom: 1px solid #B4B4B4;
    border-radius: 5px 5px 0 0;
    font-family: "Helvetica Neue",Helvetica,Arial,freesans;
    height: 31px;
}



.dialogList{ clear: both;  height: 100%;position: relative; text-align: left;overflow: hidden;}



/**
 * 	combox控件样式
 */
.combox-tree {
    display: inline-block;
    font-size: 13px;
    position: relative;
}
 
.combox-tree .cbx-drop {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #AAAAAA #AAAAAA;
    border-image: none;
    border-right: 1px solid #AAAAAA;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    left: 0;
    top:29px;
    position: absolute;
    z-index: 1010;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.cbx-single{
  background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );   
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -ms-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%); 
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  border: 1px solid #CCCCCC;
  -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
  box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 27px;
  line-height: 27px;
  width: 100%;
  text-decoration: none;
  color: #808080;
  display: inline-block;
  font-size: 13px;
  }
 .cbx-single:focus{
 	 border-color: rgba(82, 168, 236, 0.8);
 	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
 	 outline: 0 none;
 }   
    
.combox-tree .cbx-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 0 0 0 8px;
}

.combox-tree .cbx-single div {
     position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}

.combox-tree .cbx-single div b {
    background: url("../img/chosen-sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 100%;
    width: 100%;
}

.combox-tree .cbx-single  .cbx-drop{
     -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius   : 0 0 4px 4px;
  border-radius        : 0 0 4px 4px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;


}


.combox-tree .cbx-results {
   margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.combox-tree .cbx-results 

.combox-tree-active .cbx-single-with-drop {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  -o-box-shadow     : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
  background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  -webkit-border-bottom-left-radius : 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft : 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
}

/* @group Active  */
.combox-tree-active .cbx-single {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #5897fb;
}
.combox-tree-active .cbx-single-with-drop {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  -o-box-shadow     : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
  background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: -ms-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%);
  -webkit-border-bottom-left-radius : 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft : 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius : 0;
  border-bottom-right-radius: 0;
}
.combox-tree-active .cbx-single-with-drop div {
  background: transparent;
  border-left: none;
}
.combox-tree-active .cbx-single-with-drop div b {
  background-position: -18px 1px;
}
.combox-tree-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
  border: 1px solid #5897fb;
}
.combox-tree-active .chzn-choices .search-field input {
  color: #111 !important;
}

.combox-tree .ztree{overflow: auto;max-height:300px;}






/*
*	验证错误提示样式
*/
 input.error {border-color: #BD4247;color: #BD4247;}
  input.valid { border-color: #669533;color: #669533;} 
  
 .ui-resizable-helper {
   border: 1px dotted gray;
}

.loading-mask-msg{   
	background: url("images/pagination_loading.gif") no-repeat scroll 5px 10px #FFFFFF;
    border: 2px solid #6593CF;
    color: #222222;
    display: none;
    height: 16px;
    left: 100px;
    padding: 12px 5px 10px 30px;
    position: absolute;
    top: 50px;
    width: auto;}
   
   
   
   /*首页个人桌面*/
	.header{border-bottom: 1px solid #CCCCCC}
	.control{margin: 0 auto; text-align: center;height:28px;padding:0.5em;}
    .desk-bg{position: absolute;height: 100%; width: 200%;left:0px;top:40px;  background: url("../img/desktop/blue_glow.jpg") no-repeat scroll left bottom #fff;}
  
  .desk-screen{z-index:100;}
  .screen{padding:5px;}
 .desk-screen .desk-box{height: 88px;width:88px;float: left;position: relative;margin-left: 30px;margin-top: 15px;}

    
   .desk-screen .desk-box:hover { background: url("../img/desktop/appbutton_mouseover_bg3.png") no-repeat scroll 1px 0 transparent;}
    .desk-screen .desk-box .desk-img{background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 48px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 48px;
     margin-top: 6px;}
  .desk-screen .desk-box .desk-img>img {
     background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;}
    
  .desk-screen .desk-box .desk-title{
    text-align: center;
    word-spacing: normal;
    overflow: hidden;
    margin-top: 5px;

    }
    
  .desk-screen .desk-box .desk-title>label{
    background: url("../img/desktop/name_bg.png") no-repeat scroll center 0 transparent;
    color: #FFFFFF;
    display: block;
    text-align: center;
    width: 88px;
    }
   
    #trash{position:absolute;    bottom: 30px;right: 30px; display: none; }
    
    
    /** form表单样式*/
    .scrollspy{position: relative; overflow: hidden;}
    .scrollspy  .header{  
    position:absolute;
     background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    height: 36px;
    width: 100%;
    z-index:100;
    }
    .scrollspy  .content{   
    overflow: auto;
    }
   .scrollspy>。header .nav{margin-bottom: 0px;}
    
    
    